<!DOCTYPE HTML>
<html>
  <head>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <title>The Art of WebSocket</title>
  </head>
  
  <body>
    <center>
    <div class="slides" id="slides">
      <img src="../static/websocketpics/slide1.png" id="slide" width="800", height="600"></img>
    </div>
    <br>
    <iframe width="800" height="600" 
	    src="https://www.youtube.com/embed/RjubDNuA9wA">
    </iframe>
    </center>
  </body>
  <script src="../static/index.js"></script>
</html>
